@charset "utf-8";
/* 게시판 */
/* 계정 */

.account-body{width: 774px; margin: 10px auto 0; background: #fff; padding: 30px;}
.account-body.partner{width:600px; padding:50px 30px; margin:300px auto 0}
.account-body .content-title{font-size: 16px; color: #2d8cff; margin-bottom: 10px; text-align: center;}
.account-body .txt-guide{font-size: 12px; color: #888888; padding-bottom: 10px; margin-bottom: 28px; border-bottom: 1px solid #e2e2e2;}
.account-body .account-chk{display: block; line-height: 19px;}

.account-body .section{margin-bottom: 28px;}
.account-body .section .account-chk input[type="checkbox"]{display: none;}
.account-body .section .account-chk label{font-size: 14px; color: #000; font-weight: bold;}

.account-body .section .account-chk input[type="checkbox"]:checked + label span{background: url("https://www.ilbe.com/css/./img/icon_common.png") no-repeat -20px -139px ;}
.account-body .section .account-chk input[type="checkbox"] + label span{display: inline-block; width: 19px; height: 19px; background: url("https://www.ilbe.com/css/./img/icon_common.png") no-repeat -20px -162px; vertical-align: top; cursor: pointer; margin-right: 8px;}
.account-body .btn-wrap{margin-top: 20px; text-align: center;}

.account-footer{text-align: center; margin: 50px 0 30px;}
.account-footer .copyright{margin-right: 10px; color: #333333;} 
.account-footer a:before{content: ""; display: inline-block; margin-right: 10px; width: 1px; height: 9px; background: #bebebe;}

.account-body .section > dl{overflow: hidden; text-align: center;}
.account-body .section .make-game-info {
    overflow: hidden;
    text-align: center;
    padding-left: 55px;
}
.account-body .section > dl > dt{float: left; width: 130px; line-height: 33px; margin-bottom: 7px; margin-left: 100px;}
.account-body .section > dl > dd{float: left; margin-bottom: 7px;}
.account-body .section > dl:last-child > dt{margin-bottom: 0;}
.account-body .section > dl:last-child > dd{margin-bottom: 0;}
.account-body .section .item-value{display: inline-block; width: 304px; height: 33px; line-height: 33px; border-radius: 3px;}
.account-body .section a.btn-default{margin-right: 4px;}
.account-body .section .txt-hint{font-size: 11px; color: #999999; padding: 6px 0 4px 16px;}
.account-body .section .txt-aleat{color: #ef222a;}
.account-body .section .chk-area{line-height: 33px;}

.account-body .section .modify-on{background: #eef3f8;}
.account-body .section .modify-on input[type="text"]{background: none; border: none; text-indent: 0; width: 95%; height: 20px;}
.account-body .section .modify-on input[type="password"]{background: none; border: none; text-indent: 0; width: 95%; height: 20px;}
.account-body .section .modify-on input[type="name"] {
    background: none;
    border: none;
    text-indent: 0;
    width: 95%;
    height: 20px;
}
.account-body .section.second-board{margin-top: 40px; padding-bottom: 22px;}

.account-body .btn-wrap .btn-orange-big{background-color: #ED7D31; color: #ffffff; font-size: 15px; padding-left: 30px; padding-right: 30px; height: 30px; border-radius: 10px;}
.account-body #want-guest-form{display: none;}
.account-body #want-pickup-form {
    display: none;
}